.App {
  text-align: center;
  margin: 20px;
  margin-left: 1em !important;
  margin-right: 1em !important;
  display: block;
  max-width: 100% !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, .87);
}
